<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>snmvorne@tznvy.pbz</string>
	<key>contactName</key>
	<string>fazibear</string>
	<key>description</key>
	<string>crystal-lang.org</string>
	<key>name</key>
	<string>Crystal</string>
  <key>uuid</key>
  <string>35FD95EF-E328-4C53-B724-522E8570D2F3</string>
</dict>
</plist>